<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/8ea2c035-3fc5-42a5-ae4e-b4cd5afe6c13/resourceGroups/MY-DEV/providers/Microsoft.ApiManagement/service/LEARNINGServerapi/apis/LEARNINGServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8ea2c035-3fc5-42a5-ae4e-b4cd5afe6c13/resourceGroups/MY-DEV/providers/Microsoft.Web/sites/test-wwbapp</ResourceId>
    <ResourceGroup>MY-DEV</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://test-wwbapp-anfse7f5gqhxd8de.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d3649b38-66fc-46fd-a0d2-56ee7df0aa5e</ProjectGuid>
    <PublishUrl>https://test-wwbapp-anfse7f5gqhxd8de.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>